# Put your Discord bot token in the line below and copy this file to config.yaml.
# Make sure config.yaml is listed in your .gitignore file!

token: xxxxxxxxxxxxxxxxxxxxxxxx.xxxxxx.xxx-xxxxxxxxxxxxxxxxxxxxxxx

# prefix is quoted to allow use of exclamation mark as prefix
prefix: ";"

invite: ""  # invite link for the bot

load_extensions:
  - cogs.events
  - cogs.generatorcog
  - cogs.rollingcog
  - cogs.specialcog
  - cogs.srdcog
  - cogs.reddit
  - cogs.taverncog

# COG SETTINGS BELOW THIS LINE
# cog: reddit
reddit:
  subreddits:
    - dndmemes
    - dndiy
    - dungeons_and_dragons
    - roll20
    - unearthedarcana
    - dndnext
    - dnd
  upvote_emoji_id: 565550541137117194
  downvote_emoji_id: 565550586146324500
  comment_emoji_id: 565577972812349498

# cog: taverncog
tavern:
  # guilds to consider part of The Tavern
  guilds:
    - 362589385117401088 # The Tavern
  announcement_role_id: 560407352826658837

adminIDs:
  - 263560579770220554
  - 391583287652515841
  - 98529562597523456
  - 98694745760481280

