[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"

[packages]
PyYAML = "*"
discord-py = "*"
sqlalchemy-aio = "*"
buttons = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python bot.py"
lint = "python -m flake8"
test = "python -m pytest"
